
   // CreepGame.config
   //
   // Here are some startup values for CreepGame
   //
   
   CreepGame.Window.Size.X		1920	// Horiz
   CreepGame.Window.Size.Y		1600    // Vert
   CreepGame.SceneFile			"..\\Data\\Game Scenes\\Hideout.scene"
   
   
   //
   // Here are some startup values for Obj Converter tool
   //
   
   ObjConverter.ObjFile			 ..\\Data\\Objs\\Dargon.obj
   ObjConverter.SceneFile       "..\\Data\\Game Scenes\\Dargon.scene"
   ObjConverter.InitialDepth	4		// Search to a depth of 4
   ObjConverter.FormatValue     6.3		// how to output float values
   
   //
   // Here comes some bad stuff!
   //
   

	//
	//	1-6 & 20-22 should be good
	//  duplicate key03 should be detected and handled
	//  7-19 should all be bad and detected and handled
	
	
	key01     value01
	key02     value02//touchingComment02
	key03	 value03     // normal comment
	
	key03      duplicateKey03b
	
	
	key04     "value04"
	key05     "value05"//touchingComment05
	key06     "value06"		// normal comment 06
	
	key07
	key08//touchingcomment08
	key09		// touchingComment09
	
	key10		"badValueMissingQuote
	key11		"badValueMissingQuote//touchingComment11
	key12		"badValueMissingQuote	// normal comment 12
	
	key13		"bad Value Missing Quote
	key14		"bad Value Missing Quote  // comment 14

	key15		badValueMissingQuote""""""
	key16		badValueMissingQuote"//touchingComment11
	key17		badValueMissingQuote"	// normal comment 12
	
	key18		bad Value Missing Quote
	key19		bad Value Missing Quote  // comment 14
	
	key20       "good value 20"
	key21       "good value 21"//touchingComment21
	key22       "good value 22"    // normal comment 22
	
	
	   
   
   //
   // End of Config file